<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Faites signer vos devis Tiime électroniquement</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Vos devis Tiime signé facilement avec une signature électronique certifié eIDAS. Obtenez des mises à jour en temps réel de vos devis sur Tiime et par SMS.</p>
  </div>
</div>
