<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Faites signer vos devis Tiime électroniquement</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Vos devis Tiime signé facilement avec une signature électronique certifié eIDAS. Obtenez des mises à jour en temps réel de vos devis sur Tiime et par SMS.</p>
    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="nom@example.net" name="email" required>
        <label for="floatingInput">Adresse email</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Je souhaite être contacté</button>
    </form>
  </div>
</div>
