<form method="post" action="">
  <div class="mb-3">
    <label for="password" class="form-label">Tiime password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Login</button>
</form>
